*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Space Mono', monospace;
}
.section-1-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
   

    

}
.section-1-img img{
    width:80%;
    height: 80%;
    padding-top: 50px;

   
  
   
}
.section-1-img{
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
} 
.section-1-info{
    margin-top: 50px;
    padding-right: 50px;
 
}
.section-1-info h2{
    color: #333;
font-size: 65px;
font-weight: 700;
}
.section-1-info p{
    color: #4F4F4F;
font-size: 24px;
font-weight: 400;
margin: 25px 0px;
}
.section-1-info button{
    color: #FFF;
font-size: 20px;
font-weight: 700;
background-color: #333;
padding: 20px 30px;
margin-top: 25px;
}
@media screen and (max-width:576px) {
    .section-1-container{
        flex-direction: column;
    }
    .section-1-info{
        padding: 0px 20px 30px 25px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .section-1-container{
        flex-direction: column;
    }
    .section-1-info button{
        margin: 25px;
    }

}